<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506555938793-7a908kt7qpgt3ro6g7g3lqp3cb4p9eip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506555938793-7a908kt7qpgt3ro6g7g3lqp3cb4p9eip</string>
	<key>API_KEY</key>
	<string>AIzaSyBTjs_ELDvGO_bkcN8eIm75RycYgldqgG8</string>
	<key>GCM_SENDER_ID</key>
	<string>506555938793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NIBM.NIBM-ARTICLE</string>
	<key>PROJECT_ID</key>
	<string>nibm-article-49751</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-article-49751.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506555938793:ios:3244161b71884843303d78</string>
	<key>DATABASE_URL</key>
	<string>https://nibm-article-49751.firebaseio.com</string>
</dict>
</plist>